!!!
%html
%head
	%meta{:name => "viewport", :content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}/
	%title BACKYARDBAND
%body
	.homebanner
		%header.cf
			.logo
				%a.h1{href: root_path}
					backyardband
			%nav
				%ul
					-if user_signed_in?
						%nav.nav-collapse
							%ul
								%li
									%a{href: ""}
										Browse
								%li
									%a{href: edit_user_registration_path}
										Account Settings
								%li
									%a{href: destroy_user_session_path, method: :delete}
										Logout
					-elsif artist_signed_in?
						%nav.nav-collapse
							%ul
								%li
									%a{href: ""}
										Artist Dashboard
								%li
									%a{href: edit_artist_registration_path}
										Account Settings
								%li
									%a{href: destroy_artist_session_path, method: :delete}
										Logout
										
								
					-else
						%nav.nav-collapse
							%ul
								%li.artist-toggle
									Artist
								%li.artist-link
									%a{href: new_artist_session_path}
										Sign In
								%li.artist-link
									%a{href: new_artist_registration_path}
										Sign Up
								%li.audience-toggle
									Audience
								%li.audience-link
									%a{href: new_user_session_path}
										Sign In
								%li.audience-link
									%a{href: new_user_registration_path}
										Sign Up
								%li.other-link
									%a{:href => "#"}
										Browse
		.content.cf
			%p.notice
				=notice
			%p.alert
				=alert

			%h1
				Welcome to BACKYARDBAND
				%br.space/
				The hub for 
				%span.highlight
					Up and Coming Artists
				%br/ 
				and their Audiences.
				
			%a.button.button-highlight{:href => ""}
				Explore
			%a.button{:href => ""}
				Add an Album
