header {
	
	width: 90%;
	margin: 0 auto;
	padding: 3rem 0;
	a.h1 {
		text-transform: uppercase;
		letter-spacing: 5px;
		color: $dark;
		float: left;
		font-size: 1.2rem;
		text-decoration: none;
		transition: all ease-in-out 0.4s;

		&:hover {

			color: lighten($dark, 25%);

		}

	}
	nav {
		float: right;

		ul {
			list-style: none;
			color: $dark;

			li {
			display: inline;
			padding-left: 20px;
			text-align: right;
			text-transform: uppercase;

				a {
				color: inherit;
				text-decoration: none;
				transition: all ease-in-out 0.4s;
					&:hover {

						color: lighten($dark, 20%);

					}
				}
			}
		}
}
}



.artist-toggle, .audience-toggle, .other-link {
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;
      display: inline;
      transition: all ease-in-out 0.4s;
  
      padding:0.4rem;
      
  
      &:hover {
      
        a {
          transition: all ease-in-out 0.4s;
          color: $lightlight;
        
        }
        
      }
}

.artist-link, .audience-link {

  display: none;

}

.display {


  display: inline;


}

.slicknav_menu{
	display:none;
  
  
    .artist-link, .audience-link {
    
      display: inline;
		 background-color: $lightlight;
    
    }
  
    .other-link {
      a {
        padding: 0;
        margin: 0;
        background: none;
      }
    
    }
	
	.display {
	
		display: block;
		
	}
  
  
    
  
  
}

@media screen and (max-width: 1150px) {

    .nav-collapse {
		display:none;
	}


    .slicknav_menu {
		display:block;
	}



}



