!!!
%html
%head
	%title
		BackYardBand
	= stylesheet_link_tag    'application', media: 'all' 
	= javascript_include_tag 'application'
	= csrf_meta_tags
%body
	
	-if current_page?root_path
		%p{style: 'display: none;'}
			Hello World
	-else
		%header.cf
			.logo
				%a.h1{href: root_path}
					backyardband
			%nav
				%ul
					-if user_signed_in?
					
					-else
						%nav.nav-collapse
							%ul
								%li.artist-toggle
									Artist
								%li.artist-link
									%a{href: new_artist_session_path}
										Sign In
								%li.artist-link
									%a{href: new_artist_registration_path}
										Sign Up
								%li.audience-toggle
									Audience
								%li.audience-link
									%a{href: new_user_session_path}
										Sign In
								%li.audience-link
									%a{href: new_user_registration_path}
										Sign Up
								%li.other-link
									%a{:href => "#"}
										Browse

	=yield
